
body {
    font-family: 'Source code pro', Calibri, serif;
    margin: 0;
    padding: 0;
}
nav {
    width:100;
    background-color: #424558;
}
nav > ul{
    margin: 0px;
    padding: 0px;
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav > ul > li{
    float: left;
    position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: #FFF;

}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}
nav li{
   list-style-type: none;
    
}
.submenu{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index:1000;
}
.submenu li{
    border-bottom: 1px solid #CCC;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li{
    list-style-type: none;
}
.submenu{
    display: none;
}

nav a{
    display: inline-block;
    text-decoration: none;
}


.navbar{
    background-color: rgb(108, 108, 109);
    padding: 15px 30px;
}

.Html:hover{
    border-top: 5px solid #71f413;
    background-color: RGBa(228, 77, 38, 0.15); 
}

.submenu{
    display: none;
}

nav ul li:hover .submenu{
    display: inline-block;
    position:absolute;
    top:100%;
    left:0px;
}

.Javascript:hover{
    border-top: 5px solid #35ffe1;
    background-color: RGBa(228, 77, 38, 0.15);
}

.Basededonnées:hover{
    border-top: 5px solid #ff58f1;
    background-color: RGBa(228, 77, 38, 0.15);
}

.PHP:hover{
    border-top: 5px solid #f1ff59;
    background-color: RGBa(228, 77, 38, 0.15);
}

.Missions:hover{
    border-top: 5px solid #81ff67;
    background-color: RGBa(228, 77, 38, 0.15);
}

.Certifications:hover{
    border-top: 5px solid #d659ff;
    background-color: RGBa(228, 77, 38, 0.15);
}

.Html .submenu{
    background-color: RGB(230, 100, 40);
}

.Javascript .submenu{
    background-color: RGB(000, 160, 240);
}

.Basededonnées .submenu{
    background-color: RGB(250, 215, 100);
}

.PHP .submenu{
    background-color: RGB(72, 209, 204);
}

.Missions .submenu{
    background-color: RGB(189, 183, 107);
}

.Certifications .submenu{
    background-color: RGB(173, 216, 230);
}

.submenu li:hover a{
    color: #EEE;
    font-weight: bold;
}

.Html .submenu li:hover{
    background-color: RGB(210, 77, 60);
}

.Javascript .submenu li:hover{
    background-color: RGB(000, 150, 200);
}
.Basededonnées .submenu li:hover{
    background-color: RGB(200, 165, 75);
}
.PHP .submenu li:hover{
    background-color: RGB(255, 165, 0);
}

.Missions .submenu li:hover{
    background-color: RGB(144, 238, 144);
}
.Certifications .submenu li:hover{
    background-color: RGB(255, 192, 203); 
}




/*On affiche seulement les éléments li correspondant à
 *nos onglets de menu en ligne (côte à côte)*/
 nav > ul > li{
    float: left;
    position: relative;
 }

 /*Un "hack" CSS (clearfix) très connnu*/
 nav > ul::after{
    content: "";
    display: table;
    clear: both;
 }

 